<configuration debug="true">

<!-- <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    encoders are  by default assigned the type-->
<!--        ch.qos.logback.classic.encoder.PatternLayoutEncoder-->
<!--   <encoder>-->
<!--     <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} [%thread] [%M:%L]%n%msg%n</pattern>-->
<!--   </encoder>-->
<!-- </appender>-->
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <file>logs/validation.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>logs/validation.%d{yyyy-MM-dd}.log</fileNamePattern>
		<maxHistory>30</maxHistory>
	</rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} [%thread] [%M:%L]%n%msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
<!--	<appender-ref ref="STDOUT" />-->
    <appender-ref ref="FILE" />
  </root>
  
<!--  <logger name="com.eglobal.tools.validation" level="ERROR" />-->
<!--  <logger name="com.eglobal.tools.validation.files" level="ERROR" />-->
<!--  <logger name="com.eglobal.tools.validation.files.AcqRawcomConsumer" level="ERROR" />-->
<!--  <logger name="com.eglobal.tools.validation.files.AcqRawcomProducer" level="ERROR" />-->
<!--  <logger name="com.eglobal.tools.parser.parsers" level="ERROR" />-->
<!--  <logger name="com.eglobal.tools.analytics.matchers.MessageMatcher" level="ERROR" />-->
<!--  <logger name="com.eglobal.tools.validation.PhotosPnl" level="ERROR" />-->
<!--  <logger name="com.eglobal.tools.validation.photos.PhotoShooter" level="ERROR" />-->
<!--  <logger name="com.eglobal.tools.parser.parsers.TpvBbvaParser" level="DEBUG, ERROR" />-->
<!--  <logger name="com.eglobal.tools.parser.parsers.VisaParser" level="DEBUG, ERROR" />-->
<!--  <logger name="com.eglobal.tools.parser.parsers.MastercardParser" level="DEBUG, ERROR" />-->
<!--  <logger name="com.eglobal.tools.parser.parsers.DiscoverIsoParser" level="DEBUG, ERROR" />-->
<!--  <logger name="com.eglobal.tools.parser.parsers.LayoutParser" level="DEBUG, ERROR" />-->
<!--  <logger name="com.eglobal.tools.validation.db.DBManager" level="DEBUG,ERROR" />-->
</configuration>